*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::selection {
  background: #8B93A3; }

::-moz-selection {
  background: #8B93A3; }

body {
  background-color: #2B303B;
  color: #504C2F;
  font-family: 'futura-pt', Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; }

a {
  color: #6E7C98;
  text-decoration: none;
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }
  a:hover {
    color: #FFF; }

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 30px; }
  @media screen and (max-width: 670px) {
    h1 {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px; } }

p {
  margin-bottom: 18px; }
  p.lead {
    font-size: 28px;
    line-height: 40px; }

small {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; }

.vertical-align-wrapper, .introduction-wrapper, .info-wrapper {
  height: 100%;
  position: absolute; }
  @media screen and (min-width: 670px) {
    .vertical-align-wrapper .vertical-align, .introduction-wrapper .vertical-align, .info-wrapper .vertical-align, .introduction-wrapper .introduction, .info-wrapper .info {
      max-height: 100%;
      position: relative;
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }

.hidden {
  display: none; }

.clearfix:before, .info-wrapper .info:before, .clearfix:after, .info-wrapper .info:after {
  content: " ";
  display: table; }
.clearfix:after, .info-wrapper .info:after {
  clear: both; }

.animated, .introduction-wrapper .introduction ul, .info-wrapper, .info-wrapper .info {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in; }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.fade-out {
  -webkit-animation-name: fade-out;
  animation-name: fade-out; }

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fade-in-up, .introduction-wrapper .introduction ul {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up; }

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }

  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounce-in {
  0% {
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }

  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.bounce-in {
  -webkit-animation-name: bounce-in;
  animation-name: bounce-in; }

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  20% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }

  100% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); } }

@keyframes bounce-out {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  20% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }

  100% {
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); } }

.bounce-out {
  -webkit-animation-name: bounce-out;
  animation-name: bounce-out; }

.introduction-wrapper .introduction {
  margin: 0 80px;
  max-width: 800px;
  padding: 20px; }
  @media screen and (max-width: 670px) {
    .introduction-wrapper .introduction {
      max-width: 500px;
      margin: 0 auto; } }
  .introduction-wrapper .introduction h1 {
    color: #FFDC00; }
  .introduction-wrapper .introduction ul {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    list-style: none;
    padding-left: 0; }
  .introduction-wrapper .introduction li {
    float: left;
    margin: 0 20px 10px 0; }
    @media screen and (max-width: 400px) {
      .introduction-wrapper .introduction li {
        float: none; } }

.info-wrapper {
  background-color: #FFDC00;
  left: 0;
  overflow-y: scroll;
  padding: 40px;
  right: 80px;
  -moz-transition: left 0.25s;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
  z-index: 2; }
  .info-wrapper ::selection {
    background: #F5DD47; }
  .info-wrapper ::-moz-selection {
    background: #F5DD47; }
  .info-wrapper::-webkit-scrollbar {
    width: 3px; }
  .info-wrapper::-webkit-scrollbar-thumb {
    background-color: #000; }
  @media screen and (max-width: 670px) {
    .info-wrapper {
      right: 0; } }
  .info-wrapper .info {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border-top: 2px solid #504C2F;
    margin: 0 auto;
    max-width: 1000px;
    opacity: 0;
    padding-top: 20px; }
    .info-wrapper .info a {
      border-bottom: 2px solid #504C2F;
      color: #504C2F;
      display: inline-block;
      margin-bottom: -3px;
      padding-bottom: 1px;
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .info-wrapper .info a:hover {
        color: #504C2F;
        margin-bottom: -5px;
        padding-bottom: 3px; }
    @media screen and (min-width: 670px) {
      .info-wrapper .info {
        padding-top: 40px; }
        .info-wrapper .info .column {
          float: left;
          padding: 0 20px;
          width: 50%; }
          .info-wrapper .info .column:first-child {
            padding-left: 0; }
          .info-wrapper .info .column:last-child {
            padding-right: 0; } }

.info-mask {
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 1; }

.info-close:hover {
  cursor: w-resize; }
